<label for="naslov">
	<f:translate key="tx_agloket_domain_model_lokacija.naslov" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="naslov" /><br />
<label for="posta">
	<f:translate key="tx_agloket_domain_model_lokacija.posta" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="posta" /><br />
<label for="kraj">
	<f:translate key="tx_agloket_domain_model_lokacija.kraj" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="kraj" /><br />
<label for="latitude">
	<f:translate key="tx_agloket_domain_model_lokacija.latitude" />
</label><br />
	<f:form.textfield property="latitude" /><br />
<label for="longitude">
	<f:translate key="tx_agloket_domain_model_lokacija.longitude" />
</label><br />
	<f:form.textfield property="longitude" /><br />