<table class="tx-ag-loket" >
	<tr>
		<td>
			<f:translate key="tx_agloket_domain_model_lokacija.naslov" />
		</td>
		<td>
			{lokacija.naslov}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_agloket_domain_model_lokacija.posta" />
		</td>
		<td>
			{lokacija.posta}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_agloket_domain_model_lokacija.kraj" />
		</td>
		<td>
			{lokacija.kraj}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_agloket_domain_model_lokacija.latitude" />
		</td>
		<td>
			{lokacija.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_agloket_domain_model_lokacija.longitude" />
		</td>
		<td>
			{lokacija.longitude}
		</td>
	</tr>
</table>