<Alloy>
	<Window id="settings">
		<TableView id="table">
            <TableViewRow id="sBasics" class="tableRow" onClick="openBasicsDialog">
                <View class="tableView">
                    <Label id="lBasics" class="headerLabel"/>
                    <Label id="basics" top="5" class="label"/>
                </View>
            </TableViewRow>
            <TableViewRow id="sLocation" class="tableRow" onClick="openLocationDialog">
                <View class="tableView">
                    <Label id="lLocation" class="headerLabel"/>
                    <Label id="location" top="5" class="label"/>
                </View>
            </TableViewRow>
            <TableViewRow class="tableRow" onClick="setFarmType">
                 <View class="tableView">
                    <Label id="lType" class="headerLabel"/>
                    <Label id="type" top="5" class="label"/>
                </View>
            </TableViewRow>
            <TableViewRow class="tableRow" onClick="setFarmingType">
                 <View class="tableView">
                    <Label id="lTypeK" class="headerLabel"/>
                    <Label id="typeK" top="5" class="label"/>
                </View>
            </TableViewRow>
            <TableViewRow class="tableRow" onClick="setProductionType">
                 <View class="tableView">
                    <Label id="lTypeP" class="headerLabel"/>
                    <Label id="typeP" top="5" class="label"/>
                </View>
            </TableViewRow>
            <TableViewRow class="tableRow" onClick="setSize">
                 <View class="tableView">
                    <Label id="lSize" class="headerLabel"/>
                    <Label id="size" top="5" class="label"/>
                </View>
            </TableViewRow>
            <TableViewRow class="tableRow" onClick="openTimeDialog">
                <View class="tableView">
                    <Label id="lOpeningHours" class="headerLabel" top="15"/>
                </View>
            </TableViewRow>
            <TableViewRow class="tableRow" onClick="openImageULDialog">
                <View class="tableView">
                    <Label id="lImage" class="headerLabel" top="15"/>
                </View>
            </TableViewRow>
        </TableView>
	</Window>
</Alloy>
