<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for KategorijaProdukta</h1>

<f:flashMessages />

<table  class="tx_agloket" >
	<tr>
		<th><f:translate key="tx_agloket_domain_model_kategorijaprodukta.naziv" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{kategorijaProduktas}" as="kategorijaProdukta">
		<tr>
			<td><f:link.action action="show" arguments="{kategorijaProdukta : kategorijaProdukta}"> {kategorijaProdukta.naziv}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{kategorijaProdukta : kategorijaProdukta}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{kategorijaProdukta : kategorijaProdukta}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New KategorijaProdukta</f:link.action>
</f:section>